/*FOR ALL HEADING START*/
.section-title h1{
	position:relative;
	margin-bottom:30px;
}
.section-title h1:after{
	content:'';
	position:absolute;
	left:0px;
	bottom:-20px;
	width:60px;
	height:4px;
	background-color:#FFB426;
}
/*FOR ALL HEADING END*/
.upper-nav{
	padding:5px 0px;
	background-color:#222222;	
}

/*upper nav start*/
.head-info {
	background-color: black;

}
.head-info-left ul, .head-info-left ul {
	margin:0px;
	padding:0px;
}
.head-info-left li, .head-info-right li {
	list-style-type: none;
	font-size: 14px;
	color: white;
	display: inline-block;
	padding: 10px 25px 0px 10px;
}
.head-info-right li a{
	text-decoration:none;
	color: white;
}
.head-info-right li a:hover .r-ul-i{
	color: #FFB426;
}
.r-ul-i {
	padding-right: 15px;
}
.my-d{
	color:black;
}
/*upper nav end*/


.section-info2{
	position:relative;
	z-index:10;
}
.mybtn{
	background-color:#FFB426;
	border-radius:0px;
	color:#fff;
	text-transform:uppercase;
	padding:10px 25px;
	font-weight:bold;
	border:2px solid #FFB426;
	transition:all 0.7s;
}
.mybtn:hover{
	background-color:#fff;
	color:#FFB426;
	border:2px solid #FFB426;
}

.home-intro{
	padding:50px 0px;
}
/* Service CSS */
.service{
	background:#f5f5f5;
	padding:80px 0px;
	position:relative;
	overflow:hidden;	
}
.service:before{
	content:'';
	position:absolute;
	top:0px;
	width:1000px;
	height:1000px;
	left:-400px;
	background-color: #FFB426;
	z-index:0;
	transform:rotate(45deg);
	
	
}
/*About Bitcoin Start*/
.about-bitcoin{
	padding: 90px 0px;
}
.mybtn1{
	margin-right:20px;
}
/*About Bitcoin End*/

/*ask question start*/
.ask-question{
	padding:90px 0px;
	background:url(../images/ask-bg.jpg) center center;
	background-size:cover;
}

.question-single{
	background-color:#ffb426;
	padding:35px 35px;
}
.question-single:hover{
	background-color:#696970;
}
.ask-info{
	margin-bottom:20px;
}
.section-title2{
	color:white;
}
.form-single p{
	color:white;
}
.form-control2{
	border-radius:0px;
}
.form-single2{
	padding-top:70px;
}
	

.question-img img{
	margin-top:15px;
	border:2px solid #76CCDE;	
	padding:13px 13px;
	border-radius:50%;
	
}
.question-text{
	color:#fff;
	padding-left:20px;
}
.mybtn3{
	width:100%;
}
.mybtn3:hover{
	background:transparent;
}
/*ask question end*/

/* How it works Section */
.how-it-works{
	padding:70px 0px;
}
.how-it-works .row{
	margin-left:0px;
	margin-right:0px;
}
.how-it-works .how-single{
	padding:50px 20px;
	transition:all 0.5s;
	position:relative;
}
.how-single:after{
	content:'';
	position:absolute;
	right:-80px;
	top:50px;
	background-image:url(../images/arrow-big.png);
	width:170px;
	height:37px;
}
.how-it-works .how-single:last-child:after{
	display:none;
}
.how-it-works .how-single img{
	margin-bottom:20px;
}
.active-hover, .how-single:hover{
	    box-shadow: 0 0 35px rgba(0,0,0,.1);
}
/* End How it works Section */

/*form start*/
.form-single{
	
	background-image:url(../images/getquote-bg-img.jpg);
	background-size:cover;
	background-attachment:fixed;
	position:relative;
}
.form-single:before{
	content:'';
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0.7;
}
.form-img img{
	margin-top:-70px;
}


/*form end*/

/*Our Experts Start*/
.our-team{
	background-color: #f5f5f5;
	padding: 80px;
	
	
}
.team-single{
	position:relative;
	
}
.team-info{
	background-color:#ffb426;
	padding: 20px 0px;
	position:absolute;
	bottom:0px;
	left: 0px;
	width:100%;
}

.team-single .team-info h6{
	opacity:0;
	height:0px;
	transform: scale(0);
	transition:all 0.5s;
}
.team-single:hover .team-info h6{
	opacity:1;
	height:30px;
	transform: scale(1);
	color:#fff;
}
.team-single .team-info h5{
	margin-bottom:0px;
}
.team-single:hover .team-info h5{
	margin-bottom:10px;
	color:#fff;
}
.owl-carousel .owl-nav button.owl-next span{
	color:#ffb426;
	background:transparent;
	padding:6px 14px;
	border:2px solid #ffb426;
	transition:all 0.5s;
	position:absolute;
	top: -65px;
    right: 1px;
}
.owl-carousel .owl-nav button.owl-next:hover span{
	color:#fff;
	background-color:#ffb426;
	border:2px solid #ffb426;
}
.owl-carousel .owl-nav button.owl-prev span{
	color:#ffb426;
	background:transparent;
	padding:6px 14px;
	border:2px solid #ffb426;
	transition:all 0.5s;
	position:absolute;
	top: -65px;
    right: 50px;
}
.owl-carousel .owl-nav button.owl-prev:hover span{
	color:#fff;
	background-color:#ffb426;
	border:2px solid #ffb426;
}

/*Our Experts END*/


.service .service-single{
	background:#fff;
	padding:20px 12px;
	margin-bottom:30px;
	border:2px solid #eee;
	transition:all 0.6s;
}
.service .service-single:hover{
	border:2px solid #FFB426;
}
.service .service-single img{
	margin-bottom:20px;
}
.service .service-single h3{
	margin-bottom:20px;
	font-size:20px;
}
/* End Service CSS */

/*paralux start*/
.paralux{
	padding:105px 0px;
	background:url(../images/bg-1.jpg) center center;
	position:relative;
	background-size:cover;
	background-attachment:fixed;
}
.paralux:before{
	content:'';
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#081C2F;
	opacity:0.8;	
}
.img-single img{
	border:2px solid #ffb426;
	padding: 10px 10px;
}
.text-single{
	padding-top:20px;
}
.text-single h1{
	font-size:50px;
	color:#ffb426;
}
.text-single h5{
	color:#fff;
}

/*paralux end*/

/*latest news Start*/
.news-single-img{
	position:relative;
}
.news-single-img{
	overflow:hidden;
}
.news-single-img img{
	transition:all 0.5s;
	
}
.news-single-img:hover img{
	transform:scale(1.1);
	
}

.news-single-img:before{
	content:'';
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0.4;
	z-index:9;
}
.latest-news{
	padding: 80px 0px;
}
.latest-news-img{
	position:relative;
}
.mybtn2{
	position:absolute;
	top:10px;
	left:30px;
	padding: 4px 5px;
	z-index:10;
}
.mybtn2:hover{
	background:transparent;
	color:#fff;
	border-color:#fff;
	z-index:10;
	
}
.news-single h4{
	padding-top:20px;
}
.card-single{
	padding-left: 20px;
	border-bottom:1px solid #F0F0F0;
}
.card-single p{
	color:#808080;
}
.comment{
	padding-top:10px;
	padding-bottom:20px;
	
}
.comment a{
	padding-right:10px;
	padding-left:20px;
	text-decoration:none;
	color:#BEBEBE;
}
.comment a:hover{
	color:#ffb426;
}
/*latest news end*/


/* This is footer*/
.footer{
	background-color: #222222;
	color: #fff;
	padding-top: 60px;
}
.move p{
	margin-top: 25px;
}
.text{
	color: #FFA624;
}

.list ul li{
	list-style:none;
	margin-top: 15px;
}
.list ul li a{
	text-decoration: none;
	color: white;
}
.list ul li a:hover{
	color:#FFA624;
}


/*reposive*/

@media screen and (max-width: 411px) {
	.about-bitcoin-left{
		margin-bottom: 50px;;
	}
	.form-img .img-fluid{
		margin-top: 40px;
	}
	.our-team .team-info2{
		margin-bottom: 80px;
	}
  }